---
import { format } from "date-fns";
import Picture from "@/components/Picture.astro";
import CategoryIcon from "./CategoryIcon.astro";
import { z } from "astro:content";
import { collections } from "../content/config";

type Props = {
  item: z.infer<typeof collections>["balades"][0];
};

const { item }: Props = Astro.props;
---

<a
  x-show={`$store.filters.pagedData.findIndex(i => i.slug === '${item.slug}') > -1`}
  href={`/balades/${item.slug}`}
  class="group"
>
  <div class="rounded-md overflow-hidden relative">
    <div class="group-hover:opacity-0 transition-opacity duration-300">
      <Picture
        filename={item.data.cover}
        alt="The Google logo"
        sizes="(min-width: 1360px) 400px, (min-width: 780px) 29.82vw, calc(50vw - 28px)"
        loading="lazy"
        ratio={0.8571428571}
      />
    </div>
    <img
      class="opacity-0 duration-300 group-hover:opacity-100 transition-opacity absolute top-0 left-0 w-full grayscale brightness-110 mix-blend-multiply"
      src={`https://api.mapbox.com/styles/v1/mapbox/outdoors-v12/static/pin-l-${
        item.data.category === "Histoire" ? "castle" : "park-alt1"
      }+000(${item.data.coordinates[0]},${item.data.coordinates[1]})/${
        item.data.coordinates[0]
      },${
        item.data.coordinates[1]
      },8/400x468@2x?access_token=pk.eyJ1IjoieWFnbyIsImEiOiJQaW1oanlrIn0.wyTDa-iIpoaRCRNd8oSHxQ`}
    />
  </div>

  <h3
    class="font-serif text-lg font-bold mt-3 leading-tight group-hover:underline underline-offset-4 decoration-2"
  >
    {item.data.title}
  </h3>
  <p class="text-2xs text-green-500 py-3 font-medium">
    <CategoryIcon
      name={item.data.category}
      className="text-base text-green-800 mr-2"
    />
    {item.data.category} - {item.data.seasons.join(", ")} - {
      format(item.data.publishDate, "yyyy")
    }
    {}
  </p>
  <p class="text-sm">{item.data.excerpt}</p>
</a>
